<table class="table w-75 mx-auto text-center">
  <thead class="thead-light">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Price</th>
      <th>AV. Quantity</th>
      <th>Count</th>
      <th>Buy</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of fitlerResult; let i = index;">
      <tr>
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price | currency}}</td>
        <td  *ngIf="item.quantity !==0; else: end">{{item.quantity}}</td>
        <ng-template #end>Ended</ng-template>
        <td><input #count (change)="editAVQauntity(item,count.value)" type="number" class="form-control w-50 mx-auto" [min]="1" [max]='"{{item.quantity.length}}"'></td>
        <td><button class="btn btn-primary" (click)="addProduct()">Add</button></td>
      </tr>
    </ng-container>

  </tbody>
</table>


